[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-ckeditor = "==6.2.0"
django-debug-toolbar = "==3.2.4"
django-filter = "==21.1"
django-restframework = "==0.0.1"
djangorestframework = "==3.13.1"
djangorestframework-simplejwt = "==4.8.0"
djoser = "==2.1.0"
gunicorn = "==20.1.0"
pipenv = "==2022.1.8"
requests = "*"
whitenoise = "*"
mysql-connector-python = "*"
django-cloudinary-storage = "*"
openpyxl = "*"
django-cors-headers = "*"
Pillow = "==8.1.2"
PyMySQL = "==1.0.2"
django-weasyprint = "*"
django-crontab = "*"

[dev-packages]

[requires]
python_version = "3.9"
