{% extends 'base.html' %}
{% block title %}
{% endblock %}
{% block stylesheet %}
    <style>
        @media screen and (max-width: 768px) {
            .btn-outline-success {
                display: none;
            }
        }

        .client-form {
            margin-top: 7rem;
        }

        .mb-3 {
            margin: 1rem;
        }

        label {
            font-size: 110%;
            color: dodgerblue;
            font-weight: bold;
        }

        input {
            margin-bottom: 2rem !important;
        }

        .front-text {
        {#width: 80% !important;#} padding-left: 1rem;
            padding-right: 1rem;
        }

        .main-header {
            color: dodgerblue;
            font-weight: bold;
        }
        .card-body {
            background-color: rgb(241, 60, 172);
        }
        .card-body h2 {
            color: white;
        }

    </style>
{% endblock %}
{% block content %}

    <div class="client-form front-text">
        <div class="card">
            <div class="card-body mb-3">
                <h2 class="main-header">{{ bus_company.company_name }}</h2>
                <p>
                    Buy {{ bus_company.company_name }} Bus Ticket Online Now. Please fill in the form below to proceed
                    with the checkout process.
                </p>
            </div>
        </div>
        <form action="{% url 'bus-company-detail' pk=bus_company.pk %}" method="post" onSubmit="document.getElementById('submit-button').disabled=true; document.getElementById('submit-button').innerHTML='Please Wait...';">
            {% csrf_token %}
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">First Name</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Covid"
                       name="client-first-name" maxlength="20" required>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput2" class="form-label">Last Name</label>
                <input type="text" class="form-control" id="exampleFormControlInput2" placeholder="Banda"
                       name="client-last-name" maxlength="20" required>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Phone Number</label>
                <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="097xxxxxxx"
                       name="client-phone-number" maxlength="10" required>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Select Date Of Travel</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="dd/mm/yyyy"
                       name="departure-date" required onfocus="(this.type='date')">
            </div>
            <div class="mb-3">
                <label for="route" class="form-label">Select A Route</label>
                <select id="route" class="form-select" required name="route">
                    <option selected disabled>Choose...</option>
                    {% for route in routes %}
                        <option value="{{ route.id }}">{{ route }}</option>
                        {% empty %}
                        <option value="">None</option>
                    {% endfor %}

                </select>
            </div>

            <div class="col-12 mb-3">
                <button type="submit" class="btn btn-primary submit-button" id="submit-button">Next</button>
            </div>
        </form>
    </div>
{% endblock %}