{% extends 'base.html' %}
{% load static %}
{% block title %}
Ticket Payment waiting
{% endblock %}
{% block stylesheet %}
    <style>
    .confirmation {
        margin-top: 10rem;
    }
    </style>
{% endblock %}
{% block content %}
    <div class="card text-center">
  <div class="card-header">
    Featured
  </div>
  <div class="card-body confirmation">
    <h5 class="card-title">Please approve the transaction on your mobile device.</h5>
    <p class="card-text">A payment flash notification has been sent to your Mobile Money number. Please approve the transaction to proceed.</p>
{#    <a href="#" class="btn btn-primary" id="check">Check Ticket Status</a>#}
      <form action="{% url 'payment-approval' %}" method="post" onSubmit="document.getElementById('submit').disabled=true;document.getElementById('submit').innerHTML='Processing... Please Wait';" onsubmit="return changeText('submit');">
          {% csrf_token %}
          <input type="hidden" name="client-phone-number" value="{{ client_phone_number }}">
          <input type="hidden" name="client-first-name" value="{{ client_first_name }}">
          <input type="hidden" name="client-last-name" value="{{ client_last_name }}">
          <input type="hidden" name="reference-number" value={{ reference_number }}>
          <input type="hidden" name="route" value="{{ route.id }}">
          <input type="hidden" name="departure-date" value="{{ departure_date }}">
          <input type="hidden" name="seat-number" value="{{ seat_number }}">
          <button type="submit" class="submit btn btn-warning" id="submit" >Check Payment</button>
      </form>
  </div>
  <div class="card-footer text-muted">
    Payment Confirmation
  </div>
</div>
<script>
    const btn = document.getElementById("submit")
    function activateButton() {
      btn.disabled = true;
      btn.innerHTML = '<strong>Kindly Wait A Few Seconds To Confirm Your Payment. Please Wait...</strong>'
      setTimeout(()=>{
        btn.disabled = false;
        btn.innerHTML = '<strong>Confirm Payment Now!</strong>'
        btn.click()
        console.log('Button Activated')}, 20000)
    }
    activateButton()
</script>
<script type="text/javascript">
    function changeText(submitId){
        var submit = document.getElementById(submitId);
        submit.value = 'Processing... Please wait';
        return false;
    };

</script>
{% endblock %}
