{% extends 'base.html' %}
{% block title %}
{% endblock %}
{% block stylesheet %}
    <style>
        @media screen and (max-width: 768px) {
            .btn-outline-success {
                display: none;
            }
        }

        .client-form {
            margin-top: 7rem;
        }

        .mb-3 {
            margin: 1rem;
        }

        label {
            font-size: 110%;
            color: dodgerblue;
            font-weight: bold;
        }

        input {
            margin-bottom: 2rem !important;
        }

        .front-text {
        {#width: 80% !important;#} padding-left: 1rem;
            padding-right: 1rem;
        }

        .main-header {
            color: dodgerblue;
            font-weight: bold;
        }

        .card-body {
            background-color: rgb(241, 60, 172);
        }

        .card-body h2 {
            color: white;
        }
        .list-group {
            margin-top: 1rem;
            margin-bottom: 1rem;
        }
        .confirm-text {
            padding: 1rem;
            color: orangered;
        }
        .available {
            color: #0f640f;
            font-weight: bold;
            font-size: 120%;
        }
        .taken {
            color: red;
            font-size: 120%;
        }
    </style>
{% endblock %}
{% block content %}

    <div class="client-form front-text">
        <div class="card">
            <div class="card-body mb-3">
                <h2 class="main-header">{{ bus_company.company_name }}</h2>
                <p>
                    On this step, you are required to choose a seat number.
                </p>
            </div>
        </div>
        <ul class="list-group">
            <strong class="confirm-text">Please Confirm your ticket information below:</strong>
            <li class="list-group-item"><strong>Full Name:</strong> {{ client_full_name }}</li>
            <li class="list-group-item"><strong>Phone Number:</strong> {{ client_phone_number }}</li>
            <li class="list-group-item"><strong>Departure Date:</strong> {{ departure_date }}</li>
            <li class="list-group-item"><strong>Route:</strong> {{ route }}</li>
        </ul>
        <form action="">
            {% csrf_token %}
            <div class="col-md-4 mb-3">
                <label for="inputState" class="form-label">Choose Seat Number</label>
                <select id="inputState" class="form-select" required name="seat-number">
                    <option selected disabled>Choose...</option>
                    {% for seat, status in seats.items %}
                        {% if status == "available" %}
                            <option value="{{ seat }}" class="available">{{ seat }} - {{ status }}</option>
                        {% endif %}
                        {% if status != "available" %}
                            <option value="" disabled class="taken">{{ seat }} - {{ status }}</option>
                        {% endif %}
                    {% endfor %}


                </select>
            </div>
            <div class="col-12 mb-3">
                <button type="submit" class="btn btn-primary">Pay Now</button>
            </div>
        </form>
    </div>
{% endblock %}