{% extends 'base.html' %}
{% block title %}
    Verify Ticket
{% endblock %}
{% block stylesheet %}
    <style>
        body {
            text-align: center;
            background-color: #efeaea;
        }

        form {
            display: inline-block;
            padding: 1rem;
        }

        .verify {
            margin-top: 10rem;
            margin-bottom: 5rem;
        }
        .verification-title {
            margin-bottom: 2rem;
            text-transform: capitalize;
            font-weight: bold;
            font-size: 140%;
            color: dodgerblue;
            border: 1px solid dodgerblue;
            padding: 1rem;
        }
        .message-box {
            color: white;
            background-color: #279b27;
            font-weight: bold;
            font-size: 150%;
            border: 1px solid green;
            margin: 1rem;
        }
        .verification-caption {
            padding: 1rem;
            font-weight: bold;
            border: 1px solid dodgerblue;
        }
        input {
            border: 1px solid dodgerblue !important;
        }
        @media screen and (min-width: 800px) {
            .verify {
                width: 40%;
            }


        }
    </style>
{% endblock %}
{% block content %}
    <div class="main">
        <form action="{% url 'verify-by-ticket-number' %}" class="verify" method="post">
            {% csrf_token %}
            {% if messages %}
            {% for message in messages %}
            <div class="message-box">
            {{ message }}
            </div>
            {% endfor %}

            {% endif %}
            <h3 class="verification-title">Bus Ticket Verification Center</h3>
            <p class="verification-caption">
                Welcome to All1Zed Bus Ticket verification canter. You can verify
                the authenticity of an Event Ticket here by just typing the ticket
                number in the box below.
            </p>
            <div class="input-group">
                <input type="search" class="form-control rounded" placeholder="Type Ticket Number" aria-label="Search"
                       aria-describedby="search-addon" name="ticket_number" required maxlength="20"/>
                <button type="submit" class="btn btn-outline-primary"><strong>Verify</strong></button>
            </div>
        </form>
    </div>
{% endblock %}